.bio-image {
    width:75%;
    height:60%;
    margin-left:50px;
    border-color: cornflowerblue;
    border: dotted;
  }
  .about-content {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
  }
  .portfolio {
    margin-bottom: 10px;
  }
  .bordercolor {
      border-color: peru;
      border-width: medium;
  }
  .navbar-links {
    background-color: peru;
    font-size: 20px;
  }
  .heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .tech-color {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
  }
  .font-styling{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  /*.image-resize {
      position:absolute;
      left:15%;
      top:35%;
      width:1000px;
      height:500px;
  }*/
  
  #demo-image {
    width: 100%;
  }

  