.bio-image {
    width:75%;
    height:60%;
    margin-left:50px;
    border-color: cornflowerblue;
    border: dotted;
  }
  .about-content {
    width: 100%;

  }
  .portfolio {
      margin-bottom: 10px;
  }
  .bordercolor {
      border-color: peru;
      border-width: medium;
  }
 
  .col-color {
      background-color: #85C3E9 ;
  }
  .text-align {
      text-align: center;
      
  }
  
  .heading {
    text-align: center;
  }
  .tech-color {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
  }
  .font-styling{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .contact {
      margin-left: 350px;
  }

  